body{
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgBAMAAACBVGfHAAAAD1BMVEX////19fXn5+fo6Ojl5eU/mVj3AAAAHElEQVR4AWMYkUDIEE3AxAlNQMUZTUBYcUSGFABtQAFVBCjxewAAAABJRU5ErkJggg==");
  background-blend-mode: lighten;
  font-family: Whyte, sans-serif;
}
h1{
  font-family: Whyte, sans-serif;
  text-align: center;
  font-size: 70px;
}
p{
  text-align: center;
  font-size: 45px;
  font-weight: bold;
}

.first-p{
  margin-bottom: 0;
}

.second-p{
  margin-top: 0;
}
.zenith{
   background: linear-gradient(to top, #0AA1DD 60%, transparent 50%);
}

.cybros{
   background: linear-gradient(to top, #F9D923 60%, transparent 50%);
}

.Garvit{
  background-color: black;
}

.gc{
 height: 350px;
 width: 300px;
}

.Yatharth{
  background-color: white;
}

.yj{

  height: 350px;
  width: 300px;
}

.Leeladhar{
  background-color: black;
}

.ld{
  height: 350px;
  width: 300px;
}

.Reeshav{
  background-color: white;
}

.rm{
  float: right;
  height: 350px;
  width: 300px;
}
