h1 {
  font-size: 70px;
  color: #66BFBF;
  width: 30%;
  margin: 0 auto 0 auto;
  margin-top: 50px;
  font-family: 'Sacramento', cursive;

}

.skill-row {
  width: 50%;
  left: 100px;
  height: 330px;
  margin: 100px auto 100px auto;
  line-height: 2;
  }

body {
  background-color: #EAF6F6;
  text-align: center;
  padding-top: 100px;
  font-family: 'Papyrus', fantasy;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
}

h3 {
  color: #11999E;
  font-size: 40px;
  font-family: 'Square Peg', cursive;
}

.bottom-cloud {
  position: absolute;
}

.top-cloud {
  position: absolute;
  right: 500px;
  top: 50px;
}

h2 {
  font-weight: normal;
  color: #66BFBF;
}

.photo {
  height: 300px;
  width: 300px;
}
.top-container{
  background-color: #EAF6F6;
  margin-top: 0;
}
.bottom-container {
  margin-top: 60px;
  margin-bottom: 0;
  padding:20px;
  background-color: #66BFBF;
  background-size: contain;
  text-decoration:none;
  color: #11999E;
}

.left-align {
  text-align: left;
}

.one {
  float: right;
  border-radius: 50%;
  margin: 70px auto 30px 30px;
  }

.two {
  float: left;
  border-radius: 50%;
  height:300px;
  width:300px;
  margin: auto 50px 150px auto;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb,  #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb,  #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb,  #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb,  #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb,  #2bc4ad);
  text-decoration: none;
}
.lastline{
  color:#EAF6F6;
}
